Repository albert118/smart-app-banner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, housekeeping, infrastructure, enhancement, plugin, dependencies

.github/labeler.yml:

bug:
    - head-branch: ['^bug']

documentation:
    - changed-files:
          - any-glob-to-any-file: ['*.md']

housekeeping:
    - changed-files:
          - any-glob-to-any-file:
                [
                    '.*ignore',
                    '.eslint*',
                    '.prettier*',
                    'LICENCE',
                    '.gitignore',
                    '.gitconfig',
                ]

infrastructure:
    - changed-files:
          - any-glob-to-any-file:
                [
                    '*.yml',
                    'Docker',
                    '*.config',
                    'package.json',
                    '.config/**',
                    '.github/**',
                ]

enhancement:
    - changed-files:
          - any-glob-to-any-file: ['src/**', 'plugins/**', 'demo/**']

plugin:
    - changed-files:
          - any-glob-to-any-file: ['plugins/**']

dependencies:
    - changed-files:
          - any-glob-to-any-file:
                ['package.json', 'package-lock.json', '.node-version']

updated "vite-plugin-vue-devtools" to 8.0.0
  demo/vue/package.json
Labels: enhancement

updated README
  plugins/vue-plugin/README.md
Labels: enhancement, plugin

updated README and installed latest for demo
  demo/vue/package-lock.json
  plugins/vue-plugin/README.md
Labels: enhancement, plugin

Release/2.1.0 vue plugin (#35)
  README.md
  demo/vue/README.md
  demo/vue/package-lock.json
  demo/vue/package.json
  plugins/vue-plugin/README.md
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: documentation, enhancement, plugin

improved demo logging
  demo/vue/src/App.vue
Labels: enhancement

improve banner alignment
  src/styles/styles.scss
Labels: enhancement

remove conflicting styling on demo app body
  demo/vue/src/assets/main.css
Labels: enhancement

removed TODO
  demo/vue/src/assets/main.css
Labels: enhancement

updated READMEs + include getCurrentPlatform for testing
  .github/README.md
  README.md
  src/smartappbanner.ts
Labels: documentation, infrastructure, enhancement

updated READMEs
  .github/README.md
  README.md
Labels: documentation, infrastructure

refactor platformUtil to accept UA as a param
  src/smartappbanner.ts
  src/utils/platformUtil.spec.ts
  src/utils/platformUtil.ts
Labels: enhancement

updated iPad assertion + tests
  src/utils/platformUtil.spec.ts
  src/utils/platformUtil.ts
Labels: enhancement

Bug/ipad support (#32)
  .github/README.md
  README.md
  demo/vue/src/App.vue
  demo/vue/src/assets/main.css
  src/smartappbanner.ts
  src/styles/styles.scss
  src/utils/platformUtil.spec.ts
  src/utils/platformUtil.ts
Labels: documentation, infrastructure, enhancement

2.1.1
  package-lock.json
  package.json
Labels: infrastructure, dependencies

updated README
  README.md
Labels: documentation

release/2.1.1 "@easy-smart-app-banner/core" (#36)
  README.md
  package-lock.json
  package.json
Labels: documentation, infrastructure, dependencies

bump to "@easy-smart-app-banner/core": "^2.1.1",
  demo/vue/package.json
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

correct import (not the core dep)
  demo/vue/package-lock.json
  demo/vue/package.json
Labels: enhancement

release/2.1.1 vue plugin (#37)
  demo/vue/package-lock.json
  demo/vue/package.json
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

updated package-lock.json manually
  package-lock.json
Labels: dependencies

updated package-lock.json manually (#61)
  package-lock.json
Labels: dependencies

2.2.0
  package-lock.json
  package.json
Labels: infrastructure, dependencies

Updated README.md
  .github/README.md
  README.md
Labels: documentation, infrastructure
