Repository albert118/smart-app-banner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, housekeeping, infrastructure, enhancement, plugin, dependencies

.github/labeler.yml:

bug:
    - head-branch: ['^bug']

documentation:
    - changed-files:
          - any-glob-to-any-file: ['*.md']

housekeeping:
    - changed-files:
          - any-glob-to-any-file:
                [
                    '.*ignore',
                    '.eslint*',
                    '.prettier*',
                    'LICENCE',
                    '.gitignore',
                    '.gitconfig',
                ]

infrastructure:
    - changed-files:
          - any-glob-to-any-file:
                [
                    '*.yml',
                    'Docker',
                    '*.config',
                    'package.json',
                    '.config/**',
                    '.github/**',
                ]

enhancement:
    - changed-files:
          - any-glob-to-any-file: ['src/**', 'plugins/**', 'demo/**']

plugin:
    - changed-files:
          - any-glob-to-any-file: ['plugins/**']

dependencies:
    - changed-files:
          - any-glob-to-any-file:
                ['package.json', 'package-lock.json', '.node-version']

fixup action names and remove bad config
  .github/workflows/build-and-test.yml
  .github/workflows/publish.yml
Labels: infrastructure

ensure build workflow re-executes if changes to validate it
  .github/workflows/build-and-test.yml
Labels: infrastructure

avoid double builds
  .github/workflows/build-and-test.yml
Labels: infrastructure

publisher should only execute against master
  .github/workflows/publish.yml
Labels: infrastructure

labeler should never exectue against master
  .github/workflows/labeler.yml
Labels: infrastructure

publisher name updated
  .github/workflows/publish.yml
Labels: infrastructure

infrastructure/Fixed actions (#17)
  .github/workflows/build-and-test.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
Labels: infrastructure

2.0.0
  package-lock.json
  package.json
Labels: infrastructure, dependencies

updated README.md
  README.md
Labels: documentation

removed branch guards on publish and labeler (not working as intended)
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
Labels: infrastructure

fix every step must define a `uses` or `run` key * removed extra whitespace * validating locally using the extension now * added workspace extension recommendation
  .github/workflows/build-and-test.yml
  .github/workflows/labeler.yml
  .vscode/extensions.json
Labels: infrastructure

release/2.0.0 (#18)
  .github/workflows/build-and-test.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Labels: documentation, infrastructure, dependencies

release 2.0.0 @easy-smart-app-banner/vue-plugin
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

updated demo to use latest plugin + actually publish latest
  demo/vue/package-lock.json
  demo/vue/package.json
  plugins/vue-plugin/README.md
  plugins/vue-plugin/package-lock.json
Labels: enhancement, plugin

bumped package versions
  demo/vue/package-lock.json
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

release 2.0.1 @easy-smart-app-banner/vue-plugin (#19)
  demo/vue/package-lock.json
  demo/vue/package.json
  plugins/vue-plugin/README.md
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

remove Safari support (not possible)
  src/data/options.spec.ts
  src/data/options.ts
  src/models.ts
  src/smartappbanner.spec.ts
  src/smartappbanner.ts
Labels: enhancement

docs updated
  .github/README.md
  README.md
Labels: documentation, infrastructure

model tweaks for supported platforms - don't expose Safari as an option
  src/models.ts
  src/smartappbanner.ts
  src/utils/platformUtil.ts
Labels: enhancement

Feature/remove safari support (#26)
  .github/README.md
  README.md
  src/data/options.spec.ts
  src/data/options.ts
  src/models.ts
  src/smartappbanner.spec.ts
  src/smartappbanner.ts
  src/utils/platformUtil.ts
Labels: documentation, infrastructure, enhancement

updated reamining typescript references to 5.9.2
  demo/vue/package.json
  package-lock.json
  package.json
  plugins/vue-plugin/package.json
Labels: infrastructure, enhancement, plugin, dependencies

bump revison for Vite plugin DTS 4.5.3 > 4.5.4
  package-lock.json
  package.json
  plugins/vue-plugin/package.json
Labels: infrastructure, enhancement, plugin, dependencies

dependencies/Update remaining packages to typescript 5.9.2 (#27)
  demo/vue/package.json
  package-lock.json
  package.json
  plugins/vue-plugin/package.json
Labels: infrastructure, enhancement, plugin, dependencies

bump all "@types/node" to 24.2.1
  demo/vue/package.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

bump all "sass-embedded" to 1.90
  demo/vue/package.json
  package.json
  plugins/vue-plugin/package.json
Labels: infrastructure, enhancement, plugin, dependencies

bump all "vite-plugin-static-copy" to 3.1.1
  package-lock.json
  package.json
  plugins/vue-plugin/package.json
Labels: infrastructure, enhancement, plugin, dependencies

bump all "happy-dom" to 18.0.1
  demo/vue/package.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

updated package-lock.json files to pin new versions
  demo/vue/package-lock.json
  package-lock.json
  plugins/vue-plugin/package-lock.json
Labels: enhancement, plugin, dependencies

dependencies/update packages (#33)
  demo/vue/package-lock.json
  demo/vue/package.json
  package-lock.json
  package.json
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: infrastructure, enhancement, plugin, dependencies

bump all to "vite" 7.1.12
  demo/vue/package-lock.json
  demo/vue/package.json
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

2.1.0
  package-lock.json
  package.json
Labels: infrastructure, dependencies

updated READMEs
  .github/README.md
  README.md
Labels: documentation, infrastructure

enusre package.json changes trigger CI/CD
  .github/workflows/build-and-test.yml
Labels: infrastructure

release/2.1.0 "@easy-smart-app-banner/core" (#34)
  .github/README.md
  .github/workflows/build-and-test.yml
  README.md
  package-lock.json
  package.json
Labels: documentation, infrastructure, dependencies

bump vue plugin to latest core dependency
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

bump demo to use latest pluginn
  demo/vue/package.json
Labels: enhancement

updated READMEs
  README.md
  demo/vue/README.md
  plugins/vue-plugin/README.md
Labels: documentation, enhancement, plugin

updated the plugin version
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

bumped "@vitejs/plugin-vue" to 6.0.1
  demo/vue/package.json
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin

as of 3.2.13+ "vue/compiler-sfc" no longer explicitly required
  demo/vue/package.json
  plugins/vue-plugin/package-lock.json
  plugins/vue-plugin/package.json
Labels: enhancement, plugin
